<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../public/CSS/counter.css">
</head>
<body>
    <div class="message">
    {{message}}
    </div>



</body>
<div class="home">
     <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <a href="/greeted">back</a>
</div>
</html>