<div class="greetings">
    <h1>Greeted Names</h1>
    <ul>
        {{#each names}}
        <a href="/counter/{{this.user_name}}">
            <li>{{this.user_name}}</li>
        </a>
        {{/each}}
    </ul>
</div>