<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <link rel="stylesheet" href="../public/CSS/greetings.css"> --}}
  <title>Greetings</title>

</head>

<body>
  <form action="/" method="POST">
    <div class="">
      <div class="top">
        <h1>Greetings</h1>
      </div>
      <div class="">
        <label class="">
          <input type="radio" name="solidGreet" class="greetRadio" value="English">
          <span class="">English</span>
        </label>

        <label class="">
          <input type="radio" name="solidGreet" class="greetRadio" value="Latin">
          <span class="">Latin</span>
        </label>

        <label class="">
          <input type="radio" name="solidGreet" class="greetRadio" value="Dutch">
          <span class="">Dutch</span>
        </label>
      </div>

      <div class="bottom">
        <input class="enterName" type="text" name="enterUser" placeholder="enter your name here"
          onfocus="this.value = ''">
        <span class="greetCount">{{count}}</span>
      </div>
  
      <br>
      <br>
      <button class="button-primary langButton" type="submit" name="langBtn">Click Here</button>
      <br>
      <br>
      <br>
      <button class="restBtn" type="button" name="langBtn"><a href="/reset">Reset</a></button>


      <div class="hgreet">
      </div>
  </form>

  <div class="greetClass">
    {{message}}
  </div>
  
  <a href="/greeted">Greeted Names</a>

  </div>
  
  <h2>{{messages.error}}</h2>

</body>

</html>